# SPDX-License-Identifier: GPL-2.0-only
config APFS_FS
	tristate "Apple  file system support"
	depends on BLOCK
	select NLS
	select NLS_UTF8
	select CRC32
	select LIBCRC32C
	help
	  If you say Y here, you will be able to mount extended format
	  Macintosh-formatted hard drive partitions with full read-write access.

